<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
</head>

<body>
<div style="background:#9ba841;display:block;font-family:Arial, Helvetica, sans-serif;height:10px; text-align:center">
	
</div>
<div style="clear:both;height:0;font-size:0;"></div>
<div style="background:#5d781d;display:block;font-family:Arial, Helvetica, sans-serif;height:2px; text-align:center">
</div>
<div style="clear:both;height:10px;font-size:0;"></div>
<div style="text-align:center;">
	
</div>
<div style="background:#F4F4F4;border-top:#E8E8E8 1px solid;padding:10px 20px;font-family:Arial, Helvetica, sans-serif">
	<strong style="color:#39577b" id="description">用户注册邮箱认证</strong>
</div>
<div style="color:#333;line-height:24px;padding:5px 20px;">
<p style="font-size:12px"><font color="green">{nickname}</font>您好：</p>
<p style="font-size:12px;padding-left:20px;">您的登陆名是<font color="#00CCFF">{username}</font>，请点击下面的链接来认证您的邮箱：</p>
<p style="font-size:12px;padding-left:20px;font-family:Arial, Helvetica, sans-serif">{activation_url}</p>

<p style="font-size:12px;padding-left:20px;">如果你的邮箱不支持链接点击，请将以上链接地址拷贝到你的浏览器地址栏中。 </p>
<p style="font-size:12px;padding-left:20px;">此邮件由系统自动产生，请勿回复。</p>
</div>
</body>

</html>
