<!DOCTYPE HTML>

<head >
<meta charset="utf-8">
<title>用户列表</title>
<meta name="description" content="用户列表">
<meta name="Keywords" content="用户列表">
</head>
<body>
<?php includeTemplate('top.html');?>
<table align="center" style="background:#C60; margin:20px auto;"
 width="70%" border="0" cellspacing="1" cellpadding="3">
  <tr>
    <td bgcolor="#FFFFFF">用户名</td>
    <td bgcolor="#FFFFFF">手机</td>
    <td bgcolor="#FFFFFF">邮箱</td>
  </tr>
  <?php
foreach($rsUser as $key=>$val){
echo <<<END
<tr>
  <td bgcolor="#FFFFFF">{$val['username']}</td>
  <td bgcolor="#FFFFFF">{$val['mobile']}</td>
  <td bgcolor="#FFFFFF">{$val['email']}</td>
</tr>
END;
}
?>
</table>
<div style="margin:15px auto;" align="center"><?php echo $pager;?></div>
<?php includeTemplate('bottom.html');?>
</body>
</html>